<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @donation.value %>
</p>

<p>
  <strong>Donationdatte:</strong>
  <%= @donation.donationDatte %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
