<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @donation.value %>
</p>

<p>
  <strong>Donation date:</strong>
  <%= @donation.donationDatte %>
</p>

<p>
	<strong>User ID: </strong>
	<%= @donation.user_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
