<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @donation.value %>
</p>

<p>
	<strong>User ID: </strong>
	<%= @donation.user_id %>
</p>

<p>
	<strong>Inspect: </strong>
	<%= @donation.inspect %>
</p>

<%= link_to 'Edit', edit_charity_donation_path(@charity, @donation) %> |
<%= link_to 'Back', charity_donations_path %>
