<%= form_with(model: @project, url: form_url) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label "Categoria"%>
    <%= form.select(:project_type, options_for_select([["Alimentos", "Alimentos"], ["Infraestrutura", "Infraestrutura"], ["Educação", "Educação"], ["Roupas", "Roupas"], ["Lazer", "Lazer"], ["Outro", "Outro"]])) %>
  </div>

  <div class="field">
    <%= form.label :goal_amount %>
    <%= form.text_field :goal_amount, id: :project_goal_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
