<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Projeto</th>
      <th>Instituição</th>
      <th>Valor Arrecadado</th>
      <th>Objetivo</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <% @charity = Charity.find(project.user_id) %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= link_to @charity.name, charity_path(@charity) %></td>
        <td><%= project.current_amount %></td>
        <td><%= project.goal_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
