<h2>Sign up</h2>
<% if params[:wants_to_be_charity] || resource.wants_to_be_charity == 'true' %>
  <%= link_to "Quer ser uma usuário doador?", new_user_registration_path %>
<% else %>
  <%= link_to "Quer ser uma ONG?", new_user_registration_path(wants_to_be_charity: true) %>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :wants_to_be_charity, value: params[:wants_to_be_charity] %>

  <div class="field">
    <%= f.label "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>


  <% if params[:wants_to_be_charity] || resource.wants_to_be_charity == 'true' %>
    <div class="field">
      <%= f.label "CNPJ" %>
      <%= f.text_field :cnpj %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label "CPF" %>
      <%= f.text_field :cpf %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Comfirme sua senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
